body{
    backgroud-color: rgb(228, 247, 84);
}
h1{
    color: rgb(255, 140, 0);
    text-alingn: center;
}

header{
    width: ;
    background-color: goldenrod;
}

.Logo{
    color: aliceblue;
    text-align: center;
    font-size: 1.4em;
}

nav{
    color: aliceblue;
    text-align: center;
    font-size: 1.4em;
}

.banner{
    width: 100%;
}