html{
    scroll-behavior: smooth;
}

.mundo{
    font-size: 1.5em;
    text-shadow: 2px 2px white;
}

body{
    background-color: rgb(228, 247, 84);
    background-image: url(../img/fundo\ new.jpg);
    background-position: center;
    background-attachment: fixed;
    font-family: 'Press Start 2P', cursive;
}

h1,h2{
    color: rgb(32, 31, 29);
    text-align: center;
    font-size: 1.4em;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.menu_fix{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.menu_it{
    font-size: 0.6em;
}

.menu_ith{
    font-size: 0.9em;
}

.menu li{
    padding-bottom: 1.0%;
    padding-top: 0.5%;
}

p{
    color: black;
    padding-top: 1.0%;
    padding-bottom: 1.0%;
    font-size: 0.7em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 25px;
}

.lista li{
    font-size: 0.7em;
    line-height: 1.5em;
    padding-top: 1.0em;
    padding-bottom: 1.0em;
}

header{
    width: 100%;
    background-color: orange;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:600px) {
    .banner{
      margin-top: 47.3%;
    }
  
    .logo{
      padding-top: 1%;
      padding-bottom: 1%;
      text-align: center;
    }
}

@media screen and (min-width:601px){
    header{
        flex-direction: row;
        background-color: orange;
    }

    .it_menu{
        position: absolute;
        right: 3%;
        top: 30%;
        width: 70%;
      }
    
      .it_menu ul li {
            display: inline;
            margin-left: 1%;
      }
    
      .banner{
        margin-top: 8%;
      }
    
      .logo{
        padding-top: 1%;
        padding-bottom: 1%;
        text-align: left;
        width: 30%;
      }
}

.logo{
    text-align: center;
    padding-bottom: 0.5em;
}

.logo-top{
    width: 50%;
}

nav{
    text-align: center;
    font-size: 1.4em;
}

.banner{
    width: 80%;
}

section{
    padding-left: 2.0%;
    padding-right: 2.0%;
}

.container{
    background-color: orange;
    width: 80%;
    margin: auto;
}

footer{
    background-color: rgb(255, 140, 0);
    color: rgb(8, 7, 7);
    font-size: 1.3em;
    text-align: center;
    position: relative;
}

.img1{
    width: 30%;
}

.img2{
    width: 34%;
}

.img3{
    width: 30%;
}

.img4{
    width: 37%;
}

.img5{
    width: 28%;
}

.img6{
    width: 28%;
}

.ser1{
    width: 90%;
}

.ser2{
    width: 90%;
}

.mundo{
    text-align: center;
}

.tiro2{
    text-align: center;
    padding-top: 2.5em;
}

h3{
    text-align: center;
}

.pea{
    width: 20%;
    
}

.pea2{
    width: 30%;
}

.pea3{
    width: 40%;
}

.spr1{
    width: 20%;
}

.spr2{
    width: 30%;
}

.spr3{
    width: 40%;
}

.cha1{
    width: 15%;
}

.cha2{
    width: 30%;
}

.cha3{
    width: 45%;
}

.foo{
    text-align: center;
}

.github{
    width: 5em;
    height: 5em;
}

a:hover {
    color: red;
}

.linha {
    display: flex;
    flex-flow: row wrap;
    text-align: center; 
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.col-6{
    width: 50%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    .linha {
      flex-direction: column;
    }

    .col-6 {
        width: 100%;
    }
  }

.card{
    font-size: 0.9em;
    padding-top: 2.0%;
    padding-bottom: 2.0%;
    text-shadow: 2px 2px whitesmoke;
}

.serieCup{
    display: flex;
    flex-flow: row wrap;
    text-align: center; 
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.serimg{
    width: 50%;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    .serieCup {
      flex-direction: column;
    }

    .serimg{
        width: 100%;
    }
  }

.tir{
    display: flex;
    flex-flow: column;
    flex-flow: row;
    text-align: center; 
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.cold-4{
    width: 33.3%;
    border-style: groove;
    border-color: gold;
    border-width: 5px;
}

.cold4-card{
    border-style: groove;
    border-color: gold;
    border-width: 5px;
}

.p-tiro{
    text-align: justify;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.vid-card{
    background-image: linear-gradient(to bottom right, #e11608 , #e86b2d , #f8e731);
    width: 90%;
    border-style: groove;
    border-color: gold;
    border-width: 5px;
    box-shadow: 10px 10px 10px 2px rgba(151, 75, 31, 0.596);
}

.box-card{
    background-image: linear-gradient(to top right, #e11608 , #e86b2d , #f8e731);
    width: 90%;
    border-style: groove;
    border-color: gold;
    border-width: 5px;
    box-shadow: 10px 10px 10px 2px rgba(151, 75, 31, 0.596);
}

.n-tir1{
    text-shadow: 2px 2px #548791;
}

.n-tir2{
    text-shadow: 2px 2px #B4391F;
}

.n-tir3{
    text-shadow: 2px 2px #597D53;
}

.n-tir4{
    text-shadow: 2px 2px #404B74;
}

.n-tir5{
    text-shadow: 2px 2px #9B7431;
}

.n-tir6{
    text-shadow: 2px 2px #4B9A9B;
}

.n-tir7{
    text-shadow: 2px 2px #2D8872;
}

.n-tir8{
    text-shadow: 2px 2px #B37701;
}

.n-tir9{
    text-shadow: 2px 2px #8E514B;
}

table{
    width: 100%;
}

th, td{
    padding: 5px;
    border: 2.5px solid rgba(207, 42, 9, 0.884);
}
  
.container3{
    background-color: orange;
    width: 80%;
    margin: auto;
    padding-bottom: 1em;
}

.tr1{
    text-shadow: 2px 2px #548791;
}

.tr2{
    text-shadow: 2px 2px #B4391F;
}

.tr3{
    text-shadow: 2px 2px #597D53;
}

.tr4{
    text-shadow: 2px 2px #404B74;
}

.tr5{
    text-shadow: 2px 2px #9B7431;
}

.tr6{
    text-shadow: 2px 2px #4B9A9B;
}

.tr7{
    text-shadow: 2px 2px #2D8872;
}

.tr8{
    text-shadow: 2px 2px #B37701;
}

.tr9{
    text-shadow: 2px 2px #8E514B;
}

.lob2{
    width: 30%;
    text-align: center;
}

.tir2{
    display: flex;
    flex-flow: column;
    flex-flow: row;
    text-align: center; 
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.des2{
    width: 30%;
}

.vai2{
    width: 30%;
}

.con2{
    width: 25%;
}

.cer2{
    width: 25%;
    padding-bottom: 0.2em;
}

.tor2{
    width: 25%;
    padding-bottom: 0.5em;
}

.tir3{
    display: flex;
    flex-flow: column;
    flex-flow: row;
    text-align: center; 
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.set1{
    list-style-image: url(../img/sereiafav.png);
}

.set2{
    list-style-image: url(../img/botfav.png);
}

.set3{
    list-style-image: url(../img/bolafav.png);
}

.set4{
    list-style-image: url(../img/piratafav.png);
}

.set5{
    list-style-image: url(../img/abelhafav.png);
}

.set6{
    list-style-image: url(../img/sapofav.png);
}

.set7{
    list-style-image: url(../img/florfav.png);
}

.set8{
    list-style-image: url(../img/tremfav.png);
}

.set9{
    list-style-image: url(../img/luafav.png);
}

.set10{
    list-style-image: url(../img/geniofav.png);
}

.set11{
    list-style-image: url(../img/demonfav.png);
}

.p-tiro1{
    text-align: justify;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.p-tiro2{
    text-align: justify;
    padding-top: 2.8em;
    padding-bottom: 2.8em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.p-tiro3{
    text-align: justify;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.p-tiro4{
    text-align: justify;
    padding-top: 2em;
    padding-bottom: 1.9em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.p-tiro5{
    text-align: justify;
    padding-top: 2em;
    padding-bottom: 1.9em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.p-tiro6{
    text-align: justify;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.p-tiro7{
    text-align: justify;
    padding-top: 1.2em;
    padding-bottom: 1.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.p-tiro8{
    text-align: justify;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.bannerfig{
    text-align: center;
}

.posi{
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 0.3em;
}
