body{
    background-color: rgb(228, 247, 84);
    background-image: url(../img/fundo\ new.jpg);
    background-position: center;
    background-attachment: fixed;
    font-family: 'Press Start 2P', cursive;
}
h1,h2{
    color: rgb(32, 31, 29);
    text-align: center;
    font-size: 1.4em;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.menu li{
    padding-bottom: 1.0%;
    padding-top: 1.0%;
}

p{
    color: black;
    padding-top: 1.0%;
    padding-bottom: 1.0%;
    font-size: 0.7em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 25px;
}

.lista li{
    font-size: 0.7em;
    line-height: 1.5em;
    padding-top: 1.0em;
    padding-bottom: 1.0em;
}

header{
    width: 100%;
    background-color: goldenrod;
}

.logo{
    color: black;
    text-align: center;
    font-size: 1.4em;
}

nav{
    text-align: center;
    font-size: 1.4em;
}

.banner{
    width: 100%;
}

section{
    padding-left: 2.0%;
    padding-right: 2.0%;
}

.container{
    background-color: orange;
    width: 80%;
    margin: auto;
}

footer{
    background-color: rgb(255, 140, 0);
    color: rgb(8, 7, 7);
    font-size: 1.3em;
    text-align: center;
}

.img1{
    width: 30%;
}

.img2{
    width: 34%;
}

.img3{
    width: 30%;
}

.img4{
    width: 37%;
}

.img5{
    width: 28%;
}

.img6{
    width: 28%;
}

.ser1{
    width: 40%;
}

.ser2{
    width: 40%;
}

.mundo{
    text-align: center;
}

.tiro2{
    text-align: center;
}

h3{
    text-align: center;
}

.pea{
    width: 20%;
    
}

.pea2{
    width: 20%;
}

.pea3{
    width: 40%;
}

